h1{

    color: black;
    float: left;
    
    }
    
    
    
    
    .mainText{
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 4.9vh;
        position:relative;
        white-space: pre-line;
        display: flex;
        justify-content: center;
        top: 50%;
    
    }
   
    
    
    /* CV Button Start */
    .btnCV {
        box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        padding: 0.7em 1.9em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .btnCV:hover, .btnCV:focus {
        color: #fff;
        outline: 0;
      }
      
      
      
      .second {
        border-radius: 3em;
        border-color: rgb(43, 175, 112);
        color: #fff;
        background-image: -webkit-linear-gradient(left, rgba, rgba(43, 175, 112, 0.6) 5%, #24C578 5%, #24C578 10%, rgba(43, 175, 112, 0.6) 10%, rgba(43, 175, 112, 0.6) 15%, #24C578 15%, #24C578 20%, rgba(43, 175, 112, 0.6) 20%, rgba(43, 175, 112, 0.6) 25%, #24C578 25%, #24C578 30%, rgba(43, 175, 112, 0.6) 30%, rgba(43, 175, 112, 0.6) 35%, #24C578 35%, #24C578 40%, rgba(43, 175, 112, 0.6) 40%, rgba(43, 175, 112, 0.6) 45%, #24C578 45%, #24C578 50%, rgba(43, 175, 112, 0.6) 50%, rgba(43, 175, 112, 0.6) 55%, #24C578 55%, #24C578 60%, rgba(43, 175, 112, 0.6) 60%, rgba(43, 175, 112, 0.6) 65%, #24C578 65%, #24C578 70%, rgba(43, 175, 112, 0.6) 70%, rgba(43, 175, 112, 0.6) 75%, #24C578 75%, #24C578 80%, rgba(43, 175, 112, 0.6) 80%, rgba(43, 175, 112, 0.6) 85%, #24C578 85%, #24C578 90%, rgba(43, 175, 112, 0.6) 90%, rgba(43, 175, 112, 0.6) 95%, #24C578 95%, #24C578 100%);
        background-image: linear-gradient(to right, rgba(43, 175, 112, 0.6), rgba(43, 175, 112, 0.6) 5%, #24C578 5%, #24C578 10%, rgba(43, 175, 112, 0.6) 10%, rgba(43, 175, 112, 0.6) 15%, #24C578 15%, #24C578 20%, rgba(43, 175, 112, 0.6) 20%, rgba(43, 175, 112, 0.6) 25%, #24C578 25%, #24C578 30%, rgba(43, 175, 112, 0.6) 30%, rgba(43, 175, 112, 0.6) 35%, #24C578 35%, #24C578 40%, rgba(43, 175, 112, 0.6) 40%, rgba(43, 175, 112, 0.6) 45%, #24C578 45%, #24C578 50%, rgba(43, 175, 112, 0.6) 50%, rgba(43, 175, 112, 0.6) 55%, #24C578 55%, #24C578 60%, rgba(43, 175, 112, 0.6) 60%, rgba(43, 175, 112, 0.6) 65%, #24C578 65%, #24C578 70%, rgba(43, 175, 112, 0.6) 70%, rgba(43, 175, 112, 0.6) 75%, #24C578 75%, #24C578 80%, rgba(43, 175, 112, 0.6) 80%, rgba(43, 175, 112, 0.6) 85%, #24C578 85%, #24C578 90%, rgba(43, 175, 112, 0.6) 90%, rgba(43, 175, 112, 0.6) 95%, #24C578 95%, #24C578 100%);
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
      }
      .second:hover {
        background-position: 100px;
      }
      
    
    /* Button End */
    
    
    
    .categories-text{
    
    
        font-family: 'Poppins', sans-serif;
        color: black;
        margin: 20px;
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }
    
    .row{
        margin: 10px;
        justify-content: center;
        padding: 10px;
    }
    
    
    
    .container-fluid{
    
        font-family: 'Poppins', sans-serif;
    }
    
    .mainNavText:hover{
    
        color: green!important;
        
    
    }
    
    .mainNavText{
    
        font-family: 'Poppins', sans-serif;
        margin-right: 40px;
        white-space:nowrap;
    
    }
    
    .mainNavText:active{
    
        color: green!important;
        
    }
    
    .navListText:active {
    
        color: rgb(43, 175, 112)!important;
        background-color:#B1FAD7;
    
    }
    
    .navListText:focus{
    
        background-color:#B1FAD7;
    }
    
    .mainButtons{
    
        background-color: rgb(43, 175, 112);
        border-color: none;
    
    }
    
    .mainButtons:hover{
    
        background-color: rgb(42, 163, 104);
    
    }
     .card-text{
         color: rgb(61, 61, 61);
     }
    
    
     /* BLOG CSS */


h1 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: black;
}

.row {
  max-width: 850px;
  
}

.card {
  padding: 0;
  width: 100%;
  height:5%;
  border-radius: 10px;
  margin: 10px;

}

.card .wrapper {
  background-color: #fff;
  min-height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(37px + 1em));
  transition: transform 0.3s;

}
.card .data .content {
  padding-top: 0.5em;
  padding-left: 0.6em;
  padding-bottom: 2.7em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
  color: #24C578;
}
.card .title {
  margin-top: 6px;
  
  font-weight: bold;
}
.card .text {
  height: 90px;
  margin: 0;
  font-size: 12px;
}
.card input[type=checkbox] {
  display: none;
}

.example-1 .wrapper {
  background: url(/Images/test-thumbnail.png) 20% 5%/cover no-repeat;
}
.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgb(43, 175, 112);
  color: #fff;
  padding: 0.8em;
}
.example-1 .date span {
  display: block;
  text-align: center;
}
.example-1 .date .day {
  font-weight: 700;
  font-size: 18px;
}
.example-1 .date .month {
  text-transform: uppercase;
}
.example-1 .date .month,
.example-1 .date .year {
  font-size: 12px;
}
.example-1 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.example-1 .title a {
  color: gray;
}


    
    
    
