h1{

color: red;
float: left;

}




#mainText{

    font-family: 'Playfair Display', serif;
    color: black;
	font-size: 4.9vh;
	position:relative;
	margin: 20px;
	margin-top: 12vmax;
    white-space: pre-line;
	justify-content: center;
      
}

.container-fluid{

  display: flex;
  align-items: center;
  justify-content: center;

}





.categories-text{


    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.row{
    margin: 10px;
    justify-content: center;
    padding: 10px;
}



.container-fluid{

    font-family: 'Poppins', sans-serif;
}

.mainNavText:hover{

    color: green!important;

}

.mainNavText{

    font-family: 'Poppins', sans-serif;
    margin-right: 40px;

}

.mainNavText:active{

    color: green!important;
    

}

.navListText:active{

    color: rgb(43, 175, 112)!important;
    background-color: greenyellow;

}

.mainButtons{

    background-color: rgb(43, 175, 112);
    border-color: none;

}

.mainButtons:hover{

    background-color: rgb(43, 175, 112);

}
 .card-text{
     color: rgb(61, 61, 61);
 }

/* Footer */


body {
    font-family: 'Poppins',Arial,sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #577aa1;
  }
  
  h5 {
      font-size: 1rem;
      line-height: 1.375;
    font-family: 'Poppins',Arial,sans-serif;
      font-weight: 500;
      color: #030929;
  }
  
  a {
    color: #444444;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: rgb(43, 175, 112);
    text-decoration: none;
  }
  
  footer {
    background: #f2fdf8;
  }

/* Typewriter Effect Starts */
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



.animated_text{
  height: calc(45vh - 8em);
  padding: 2em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(43, 175, 112);  
}
.line-1{
    position:relative;
    top: 8%;  
    width: 22em;
    margin: auto auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 3.5vmin;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(36) 1s 1 normal both,
             blinkTextCursor 500ms steps(36) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 22em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* Type Writer Effect Ends */

/* Down Anchor Effect Starts*/

.arrows {
	width: 60px;
	height: 72px;
	position:relative;
	left: 50%;
    margin-top: 25px;
	margin-left: -20px;
	bottom: 10px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* Down Achor Effect Ends */


