h1{

color: red;
float: left;

}




#mainText{

    font-family: 'Playfair Display', serif;
    color: black;
    margin: 50px;
    font-size:3vw;
    margin: 120px;
    white-space: pre-line;
    text-align: left;
    

}




.categories-text{


    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.row{
    margin: 10px;
    justify-content: center;
    padding: 10px;
}



.container-fluid{

    font-family: 'Poppins', sans-serif;
}

.mainNavText:hover{

    color: green!important;

}

.mainNavText{

    font-family: 'Poppins', sans-serif;
    margin-right: 40px;

}

.mainNavText:active{

    color: green!important;
    

}

.navListText:active{

    color: rgb(43, 175, 112)!important;
    background-color: greenyellow;

}

.mainButtons{

    background-color: rgb(43, 175, 112);
    border-color: none;

}

.mainButtons:hover{

    background-color: rgb(43, 175, 112);

}

/* Footer */


body {
    font-family: 'Poppins',Arial,sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #949ca5;
  }
  
  h5 {
      font-size: 1rem;
      line-height: 1.375;
    font-family: 'Poppins',Arial,sans-serif;
      font-weight: 500;
      color: #030929;
  }
  
  a {
    color: #818494;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
  }
  
  a:hover {
    color: rgb(43, 175, 112);
    text-decoration: none;
  }
  
  footer {
    background: #f2fdf8;
  }


