.h1{

    font-family: 'Manrope', sans-serif;
    font-size: 90px;
}

.profile-img {

    max-height: 500px;
    float: right;
}

.project-img {

    max-height: 500px;
}

.large-font{

    font-size: 2vmax;
    font-size: 12vmin;
}



.medium-text{

    font-size: 4vmax;
    font-size: 4vmin;
    font-weight: 400;
    font-weight: 350;
    text-justify:distribute;

}

.sub-text {

    font-size: 1rem;
    font-weight: 350;
}

.classic-button{

    border-radius: 40px;
    background-color: #F0D180;
    font-family: 'Manrope', sans-serif;
    color: #b07e00;
    border: none;
    font-weight: 700;
    font-size: 15pt;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;

}

.classic-button:hover {
    background-color: #e7b73e;
    color: white;

}

.classic-button:active {

  background-color: #b07e00;
  transform: translateY(4px);

}


.margin{

    margin-top: 100px;
}

.container-marginab {

    padding-left: 4%;
    padding-right: 4%;
}

.padding{

    padding-top: 40px;
    
}

.box{

    margin-top: 50px;
    margin-bottom: 70px;
    
}

.email{

    float: left;
    
}

.cv-button{

    float: right;
    
}