/* Colors: 
Blue-Accent: #e4f2ff (round-background-blue) */

body{
  padding-left: 4%;
  padding-right: 4%;
}

a, a:focus, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #b07e00;
}

.h1 {
  font-family: "Manrope", sans-serif;
}

.h2{
  font-family: "Manrope", sans-serif;
  font-size: 500px;
}

.h3 {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

.profile-img {
  max-height: 500px;
  float: right;
}

.project-img {
  max-height: 500px;
}

.large-font {
  font-size: 3.50rem;
}

.medium-title {
  font-size: 1.50rem;
}

.large-title {
  font-size: 3rem;
}

.xl-title {
  font-size: 4em;
}

.medium-text {
  font-size: 14pt;
  font-family: "Manrope", sans-serif;
  font-weight: 350;
}

.sub-text {
  font-size: 14pt;
  font-family: "Manrope", sans-serif;
  font-weight: 350;
}

.margin-top {
  margin-top: 100px;
}

/* .container-marginab {
  padding-left: 4%;
  padding-right: 4%;
} */

.padding {
  padding-top: 40px;
}

.box {
  margin-top: 50px;
  margin-bottom: 70px;
}

.email {
  float: left;
  text-decoration: none!important;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.email:hover{
  color: #b07e00;
}

.cv-button {
  float: left;
}

.margin{

  margin-top: 50px;
  margin-bottom: 50px;
}

.bottom-progress-bar{
  
  bottom: 0px;
  justify-content: center;
  position: fixed;
  align-items: center;

}
/* Color Definitions */ 

.round-background-blue{

  background-color: #e4f2ff;
  padding: 30px;
  border-radius: 35px;
  margin-bottom: 15px;
}

.card{

  font-family: "Manrope", sans-serif;
  border-color: #f0d180!important;
  border-radius: 15px!important;
  margin-bottom: 10px;
  padding: 20px!important;
  
}

.card-body{
  font-family: "Manrope", sans-serif;
  border-color: #f0d180;
  border-radius: 15px;
  padding: 20px;
}







/* Social Media */


.linkedin_button{

  width: 60px;
  height: 60px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/linkedin.svg");
  background-color: white;
  border: none;
  margin-left: 20px;
}
.linkedin_button:hover {
  
  background-image: url("/Icons/Social Media/linkedin-after.svg");
  color: white;
}
.linkedin_button:active {
  fill: #f0d180;
  transform: translateY(4px);
}

.behance_button{

  width: 60px;
  height: 60px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/behance.svg");
  background-color: white;
  border: none;
  margin-left: 20px;
}
.behance_button:hover {
  
  background-image: url("/Icons/Social Media/behance-after.svg");
  color: white;
}
.behance_button:active {
  fill: #f0d180;
  transform: translateY(4px);
}

.dribbble_button{

  width: 60px;
  height: 60px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/dribbble.svg");
  background-color: white;
  border: none;
  margin-left: 20px;
}
.dribbble_button:hover {
  
  background-image: url("/Icons/Social Media/dribbble-after.svg");
  color: white;
}
.dribbble_button:active {
  fill: #f0d180;
  transform: translateY(4px);
}


/* Chrome button */


.classic-button {
  border-radius: 40px;
  background-color: #f0d180;
  font-family: "Manrope", sans-serif;
  color: #b07e00;
  border: none;
  font-weight: 700;
  font-size: 15pt;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
}
.classic-button:hover {
  background-color: #e7b73e;
  color: white;
}
.classic-button:active {
  background-color: #b07e00;
  transform: translateY(4px);
}
/* Blue button */
.classic-button-blue {
  border-radius: 40px;
  background-color: #e4f2ff;
  font-family: "Manrope", sans-serif;
  color: #000000;
  border: none;
  font-weight: 700;
  font-size: 15pt;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
}
.classic-button-blue:hover {
  background-color: #65b4ff;
  color: white;
}
.classic-button-blue:active {
  background-color: #e4f2ff;
  transform: translateY(4px);
}



