/* Colors: 
Blue-Accent: #e4f2ff (round-background-blue) */

body{
  padding-left: 4%;
  padding-right: 4%;
}

a, a:focus, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #b07e00;
}

.h1 {
  font-family: "Manrope", sans-serif;
}

.h2{
  font-family: "Manrope", sans-serif;
  font-size: 500px;
}

.h3 {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}
.b-light {
  font-weight: 500;
  color: #65b4ff;
  background-color: #65b5ff1b;
  padding: 2px 12px;
  border-radius: 35px;
}

.o-light {
  font-weight: 500;
  color: #ea902a;
  background-color: #ea902a1a;
  padding: 2px 12px;
  border-radius: 35px;
}
.r-light {
  font-weight: 500;
  color: #e63440;
  background-color: #e6344016;
  padding: 2px 12px;
  border-radius: 35px;
}
.g-light {
  font-weight: 500;
  color: #39bc4b;
  background-color: #39bc4a17;
  padding: 2px 12px;
  border-radius: 35px;
}

.profile-img {
  max-height: 500px;
  float: right;
}

.project-img {
  max-height: 400px;
}

.large-font {
  font-size: 3.50rem;
  color: #000000;
}

.small-title {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  
}

.medium-title {
  font-size: 1.50rem;
}

.large-title {
  /* font-size: 3.2rem; */
  font-size: 55px;
  font-weight: bold;
  color: #000000;
}

.xl-title {
  font-size: 4em;
}

.medium-text {
  font-size: 16px;
  line-height: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 350;
  color: #000000;
}

.sub-text {
  font-size: 14pt;
  line-height: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 350;
}

.margin-top {
  margin-top: 100px;
}

.margin-bottom {
  margin-top: 15px;
}

/* .container-marginab {
  padding-left: 4%;
  padding-right: 4%;
} */

.padding {
  padding-top: 40px;
}

.box {
  margin-top: 50px;
  margin-bottom: 70px;
}

.email {
  text-decoration: none!important;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.email:hover{
  color: #39bc4b;
}

.cv-button {
  float: left;
}

.margin{

  margin-top: 50px;
  margin-bottom: 50px;
}

.bottom-progress-bar{
  
  bottom: 0px;
  justify-content: center;
  position: fixed;
  align-items: center;

}
/* Color Definitions */ 

.round-background-blue{

  background-color: #e4f2ff;
  padding: 30px;
  border-radius: 35px;
  margin-bottom: 15px;
}

.card{

  font-family: "Manrope", sans-serif;
  border-color: #39bc4b!important;
  border-radius: 15px!important;
  margin-bottom: 10px;
  padding: 20px!important;
  
}

.card-body{
  font-family: "Manrope", sans-serif;
  border-color: #39bc4b;
  border-radius: 15px;
  padding: 20px;
}

.btnicon {

  background-image: url("/Icons/Social Media/home-after.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px, 35px;
  fill: #0055a5;
  padding: 20px;
  margin-right: 5px;

}


.btn2{
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border-radius: 35px;
  color: #ffffff;
  font-size: 16px;
  padding-left: 2px;
  padding-right: 25px;
  border: none;
}

.btn2:hover{

background-color: #39bc4b;
  color: white;
  border: none;
}

.btn2:active{
  fill: #39bc4b;
  transform: translateY(4px);
  border: none;
}

.background-bg{

  background-color: #f0d180;
}

.items_block_right{

  float: right;
  /* justify-content: right;
  justify-self: end;
  justify-self: right;
  justify-items: end;
  justify-items: right; */
}




/* Home button */

.home_button{

  width: 55px;
  height: 55px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/home.svg");
  background-color: white;
  border: none;
}
.home_button:hover {
  
  background-image: url("/Icons/Social Media/home-after.svg");
  color: white;
  border: none;
}
.home_button:active {
  fill: #f0d180;
  transform: translateY(4px);
  border: none;
}

.glass{
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.6px);
-webkit-backdrop-filter: blur(14.6px);
border: 1px solid rgba(255, 255, 255, 0.25);
}


/* Social Media */


.linkedin_button{

  width: 42px;
  height: 42px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/linkedin.svg");
  background-color: white;
  border: none;
  margin-left: 10px;
}
.linkedin_button:hover {
  
  background-image: url("/Icons/Social Media/linkedin-after.svg");
  color: white;
}
.linkedin_button:active {
  fill: #f0d180;
  transform: translateY(4px);
}

.behance_button{

  width: 42px;
  height: 42px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/behance.svg");
  background-color: white;
  border: none;
  margin-left: 10px;
}
.behance_button:hover {
  
  background-image: url("/Icons/Social Media/behance-after.svg");
  color: white;
}
.behance_button:active {
  fill: #f0d180;
  transform: translateY(4px);
}

.dribbble_button{

  width: 42px;
  height: 42px;
  text-decoration: none;
  background-image: url("/Icons/Social Media/dribbble.svg");
  background-color: white;
  border: none;
  margin-left: 10px;
}
.dribbble_button:hover {
  
  background-image: url("/Icons/Social Media/dribbble-after.svg");
  color: white;
}
.dribbble_button:active {
  fill: #f0d180;
  transform: translateY(4px);
}


/* Chrome button */


.classic-button {
  border-radius: 40px;
  background-color: #000000;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.classic-button:hover {
  background-color: #39bc4b;
  color: white;
}
.classic-button:active {
  background-color: #F0D180;
  transform: translateY(4px);
}
/* Blue button */
.classic-button-blue {
  border-radius: 40px;
  background-color: #000000;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
.classic-button-blue:hover {
  background-color: #65b4ff;
  color: white;
}
.classic-button-blue:active {
  background-color: #e4f2ff;
  transform: translateY(4px);
}


abbr {
  font-style: italic;
  position: relative;
  text-decoration:double
}

abbr:hover::after {
  background: #39bc4a17;
  border-radius: 10px;
  bottom: 10%;
  content: attr(title);
  display: block;
  left: 10%;
  padding: 1em;
  position: relative;    
  width: 220px;
  text-decoration: none;
  z-index: 1;
}






