
.heading-text{


    font-family: 'Poppins', sans-serif;
    color:rgb(46, 46, 46);
  padding-top: 2rem;
    font-size: 42px;
    text-align: center;
    margin-top: 10px;
  
  }


  
    
    
    /* CV Button Start */
    .btnCV {
        box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border: 2px solid #e74c3c;
        border-radius: 0.6em;
        color: #e74c3c;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        padding: 0.7em 1.9em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
      .btnCV:hover, .btnCV:focus {
        color: #fff;
        outline: 0;
      }
      
      
      
      .second {
        border-radius: 3em;
        border-color: rgb(65, 174, 73);
        color: #fff;
        background-image: -webkit-linear-gradient(left, rgba, rgba(43, 175, 112, 0.6) 5%, #24C578 5%, #24C578 10%, rgba(43, 175, 112, 0.6) 10%, rgba(43, 175, 112, 0.6) 15%, #24C578 15%, #24C578 20%, rgba(43, 175, 112, 0.6) 20%, rgba(43, 175, 112, 0.6) 25%, #24C578 25%, #24C578 30%, rgba(43, 175, 112, 0.6) 30%, rgba(43, 175, 112, 0.6) 35%, #24C578 35%, #24C578 40%, rgba(43, 175, 112, 0.6) 40%, rgba(43, 175, 112, 0.6) 45%, #24C578 45%, #24C578 50%, rgba(43, 175, 112, 0.6) 50%, rgba(43, 175, 112, 0.6) 55%, #24C578 55%, #24C578 60%, rgba(43, 175, 112, 0.6) 60%, rgba(43, 175, 112, 0.6) 65%, #24C578 65%, #24C578 70%, rgba(43, 175, 112, 0.6) 70%, rgba(43, 175, 112, 0.6) 75%, #24C578 75%, #24C578 80%, rgba(43, 175, 112, 0.6) 80%, rgba(43, 175, 112, 0.6) 85%, #24C578 85%, #24C578 90%, rgba(43, 175, 112, 0.6) 90%, rgba(43, 175, 112, 0.6) 95%, #24C578 95%, #24C578 100%);
        background-image: linear-gradient(to right, rgba(43, 175, 112, 0.6), rgba(43, 175, 112, 0.6) 5%, #24C578 5%, #24C578 10%, rgba(43, 175, 112, 0.6) 10%, rgba(43, 175, 112, 0.6) 15%, #24C578 15%, #24C578 20%, rgba(43, 175, 112, 0.6) 20%, rgba(43, 175, 112, 0.6) 25%, #24C578 25%, #24C578 30%, rgba(43, 175, 112, 0.6) 30%, rgba(43, 175, 112, 0.6) 35%, #24C578 35%, #24C578 40%, rgba(43, 175, 112, 0.6) 40%, rgba(43, 175, 112, 0.6) 45%, #24C578 45%, #24C578 50%, rgba(43, 175, 112, 0.6) 50%, rgba(43, 175, 112, 0.6) 55%, #24C578 55%, #24C578 60%, rgba(43, 175, 112, 0.6) 60%, rgba(43, 175, 112, 0.6) 65%, #24C578 65%, #24C578 70%, rgba(43, 175, 112, 0.6) 70%, rgba(43, 175, 112, 0.6) 75%, #24C578 75%, #24C578 80%, rgba(43, 175, 112, 0.6) 80%, rgba(43, 175, 112, 0.6) 85%, #24C578 85%, #24C578 90%, rgba(43, 175, 112, 0.6) 90%, rgba(43, 175, 112, 0.6) 95%, #24C578 95%, #24C578 100%);
        background-position: 0 0;
        background-size: 100%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
      }
      .second:hover {
        background-position: 100px;
      }
      
    
    /* Button End */
    
    
    .top-padding{
      padding-top: 55px;
    }

    .number-text{

      font-family: 'Poppins', sans-serif;
      font-size: 10vh;
      padding-bottom: 10px;
      color: rgb(42, 163, 104);
      align-content: center;
      text-align: center;
    }
    .sub-text-details{

      font-family: 'Poppins', sans-serif;
      font-size: 3vh;
      margin-bottom: 90px;
      color:rgba(0, 0, 0, 0.8);
      text-align: center;
    }
    
  
  
    
    .container-fluid{
    
        font-family: 'Poppins', sans-serif;
    }
    
    .mainNavText:hover{
    
        color: green!important;
        
    
    }
    
    .mainNavText{
    
        font-family: 'Poppins', sans-serif;
        margin-right: 40px;
        white-space:nowrap;
    
    }
    
    .mainNavText:active{
    
        color: green!important;
        
    }
    
    .navListText:active {
    
        color: rgb(65, 174, 73)!important;
        background-color:#B1FAD7;
    
    }
    
    .navListText:focus{
    
        background-color:#B1FAD7;
    }

    .active{

        color: rgb(65, 174, 73)!important;
    
    }

    
    .mainButtons{
    
        background-color: rgb(65, 174, 73);
        border-color: none;
    
    }
    
    .mainButtons:hover{
    
        background-color: rgb(42, 163, 104);
    
    }
     .card-text{
         color: rgb(61, 61, 61);
     }
    
    
     /* BLOG CSS */
  
  
  h1 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: black;
  }

  h3{

    font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: black;
  }

  .paragraph{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: rgb(105, 105, 105);
    padding: 15px;
    }

  
  
  
  .card{
  
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(211, 211, 211, 0.2), 0 6px 20px 0 rgba(211, 211, 211, 0.2);
    
  }
  
  

  
  .card-text{
  
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(56, 56, 56);
    font-size: 18px;
  }
  
  .card-author{
    font-size: 12px;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    color: gray;
  }
  
  .card-date{
    font-size: 10px;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    color: gray;
    
  }
  
  

  /* Sub-details panel */
  .sub-details{

    text-align: center;
    align-content: center;
    justify-content: center;
    
  }
  .profile-picture{
      width: 50px;
      height: 50px;
      float: center left;
      margin-left: 5px;
  }

  .headline{

    border-right: 1px solid#9b9b9b;
    border-color: #9b9b9b;
  }
  
  .sub-side{

    background-color:rgb(65, 174, 73);
  }

  .main-section{

    border-radius: 20px;
    margin-bottom: 30px;
  }

  .padding-bottom{
    padding-bottom: 35px;
  }

  .author-name{

    float: center right;
    color: black;
    font-size: 16px;
    margin-left: 5px;
  }
  .date{
      color: rgb(65, 174, 73);
      font-size: 14px;
      padding: 0.5em;
  }
  .date-bg{
      background-color:#d9f5e9;
      border-radius: 30px;
      margin-left: 45px;
      margin-right: 45px;
      text-align: center;
  }
  .intro-bg{
    background-color:#d9f5e9;
    border-radius: 30px;
    margin-bottom: 35px; 
  
}


 .row{

  padding: none;
 }


 /* Footer */


 body {
  font-family: 'Poppins',Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
    color: #577aa1;
}

h5 {
    font-size: 1rem;
    line-height: 1.375;
  font-family: 'Poppins',Arial,sans-serif;
    font-weight: 500;
    color: #030929;
}

a {
  color: #444444;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: rgb(65, 174, 73);
  text-decoration: none;
}

footer {
  background: #f2fdf8;
padding-bottom: 50px;
  margin-top: 80px;
}

.copyright-text{

color: #444444;
  font-weight: 200;
  text-decoration: none;
font-family: 'Poppins',Arial,sans-serif;
  background-color: transparent;
font-size: 12px;
align-content: center;
margin-top: 30px;

}

/* Footer Ends */


/* Table */

table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 3px;
  border-color: #00A950;
  border-style: solid;
  color: #000000;
  border-radius: 6px 6px 6px 6px;
}

table.customTable td, table.customTable th {
  border-width: 3px;
  border-color: #00A950;
  border-style: solid;
  padding: 10px;
}


table.customTable thead {
  background-color: #00A950;
  border-radius: 6px 6px 6px 6px;
}
